
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body, h1{
    font-family: 'michroma', sans-serif;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0f0f0f;
    color: white;
}

header {
    width: 100vw;
    height: 100vh;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.video-texto h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.video-texto p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #444;
}

#products {
    
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}



.produto  {
    position: relative;
    width: calc(25.33% - 20px);
    margin: 30px 0;
    padding: 60px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;

}





.produto p {
    font-size: 1rem;
    margin: 20px;

}



.produto:hover {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    header section video  {
        width: 1200px;

        
      
    

    }  
}




/*Aqui é para falar sobre o menu do site*/

.menu-hamburger {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
}

.menu-hamburger span {
    width: 100%;
    height: 2px;
    background-color: #ffffff; /* Cor dos riscos */
    border-radius: 2px;
    transition: 0.3s;
}

.menu-hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-hamburger.active span:nth-child(2) {
    opacity: 0;
}

.menu-hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


/* Container #modelos para os cards */
#modelos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas para os cards */
    gap: 20px; 
    padding: 20px;
    max-width: 880px; /* Limita a largura do container */
    margin: 0 auto; /* Centraliza o container na página */
}

#modtext{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.card-description {
    text-align: left;
}

.texto{
    display: flex;
    align-items: center;

}

/* Estilos para cada card */
.card {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    position: relative;
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.card-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)); */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 250px;  
    padding: 30px;  
    justify-content: space-between;
    
}

.card-text h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card-text p {
    margin-bottom: 10px;
}

.btn-card {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-card:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    #modelos {
        grid-template-columns: 1fr; /* Ajusta para uma coluna no mobile */
    }
    .classicos {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .classicos .classicos-texto{
        display: flex;
        width: 100%;
        padding: 30px;
        margin-top: 50px;
        margin-left: 0%;
    }
    .classicos .classicos-img{
        width: 100%;
        padding: 0;
    }
    #modelos {
        padding: 0;
        width: 100%;
    }
    #modelos .card {
        width: 100%;
        padding: 20px;
    }
    #modelos .card-image {
        width: 100%;
        height: 100%;
    }
    #modelos .card-text {
        gap: 220px;
    }
    .classicos .classicos-img img{
        width: 100%;
    }
}


.classicos {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000;
}

.classicos-img {
    width: 50%;
    padding: 5px;
}



.classicos-texto {
    width: 50%;
    text-align: left;
    margin-left: 6%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.classicos-texto button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.classicos-texto button:hover {
    background-color: #444;
    cursor: pointer;
}

.conteudo {
    padding: 20px;
}

.rodape {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}
